<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<head th:fragment="head">

    <!-- Bootstrap stylesheets and script -->
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/techjobs.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

    <title th:text="'TechJobs' + ${title == null ? '' : ' :: ' + title}">TechJobs</title>
</head>

<body>

<div th:fragment="page-header" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a th:href="@{/}" class="navbar-brand">TechJobs</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a th:href="@{/search}">Search</a></li>
                <li><a th:href="@{/list}">List</a></li>
            </ul>
        </div>
    </div>
</div>

<table th:fragment="display-results" th:each="job : ${jobs}" class="job-listing">
    <tbody>
    <tr>
        <td style="font-weight:bold">
            ID
        </td>
        <td th:text="${job.id}" style="font-style:italic">
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold">
            Name
        </td>
        <td th:text="${job.name}" style="font-style:italic">
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold">
            Employer
        </td>
        <td>
            <a th:href="@{/list/jobs(column=employer,value=${job.employer})}" th:text="${job.employer}" style="font-style:italic">
            </a>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold">
            Location
        </td>
        <td>
            <a th:href="@{/list/jobs(column=location,value=${job.location})}" th:text="${job.location}" style="font-style:italic">
            </a>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold">
            Position Type
        </td>
        <td>
            <a th:href="@{/list/jobs(column=positionType,value=${job.positionType})}" th:text="${job.positionType}" style="font-style:italic">
            </a>
        </td>
    </tr>
    <tr>
        <td style="font-weight:bold">
            Skill
        </td>
        <td>
            <a th:href="@{/list/jobs(column=coreCompetency,value=${job.coreCompetency})}" th:text="${job.coreCompetency}" style="font-style:italic">
            </a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>
